@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 3.4rem;
    animation: moveInLeft 1s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.33rem;
    animation: moveInRight 1s; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.7rem; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.25rem 0.6rem rgba(255, 255, 255, 0.5); }

.btn--orange {
  background-color: #fff;
  color: #777;
  font-weight: 500; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 1, 0.7), rgba(0, 0, 1, 0.8)), url("../img/background-main.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 5rem;
    border-radius: 50%;
    border: 2px solid white; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: #ff4500;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
