.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-mediun {
    margin-bottom: 4rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-dark-shadow {
    &:hover {
        box-shadow: 0 .5rem 1rem rgba($color-black, .5) !important;
    }
    &:active {
        box-shadow: 0 .25rem .8rem rgba($color-black, .5) !important;
    }
}